<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />

    <script src="https://cdn.jsdelivr.net/npm/three@0.121.1/build/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.121.1/examples/js/controls/OrbitControls.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplex-noise/2.4.0/simplex-noise.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>

    <link rel="stylesheet" href="/static/css/animation.css" />
</head>

<body>
    <div>
        <h1>Example-1: Animation</h1>
        <p>Page is loaded at {{ctime}}</p>
    </div>
    <div>
        <div id="canvas_container"></div>
        <p>URL: https://codepen.io/isladjan/pen/bGpjZwN</p>
    </div>
    <script src="/static/js/animation.js"></script>
</body>

</html>