<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <script src="/static/js/welcome.js"></script>
    <script src="/static/js/libs/three.min.js"></script>
    <script src="/static/js/libs/tween.min.js"></script>
    <script src='/static/js/libs/uil.min.js'></script>
    <script src="/static/js/controls/OrbitControls.js"></script>
    <script src="/static/js/controls/TransformControls.js"></script>
    <script src="/static/js/build/fik.js"></script>
</head>

<body>
    <div>
        <h1>Full-ik Example</h1>
        <p><a href="https://github.com/lo-th/fullik">full ik</a></p>
    </div>
    <div id="mainPanel">
    </div>
    <div id="link">FULLIK GITHUB</div>
    <!-- <script src='/static/js/demo_fillik.js'></script> -->
    <script src='/static/js/load_fillik.js'></script>
</body>

</html>